.form_control.error input,
.form_control.error textarea {
    border: solid red 2px;
}

.form_control.error span {
    color: red;
}
.formSummeryError {
    border: red 1px solid;
    color: red;
    padding: 5px;
}