.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 100%;
  padding: 4px;
  background-color: rgba(15, 15, 2, 0.945);
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(250, 248, 249, 0.925);
  color: rgb(17, 16, 16);
  border-bottom-left-radius: 1%;
  margin: 5px;
  padding: 5px;
}
